.vs
.vscode
*.log
*.tmp
*.pdb
*.idb
*.ilk
/Source/Temp
*.obj
*.tlog
*.db
*.opendb
*.db-shm
*.db-wal
*.suo
*.ipch
*.ide
*.lock
*.ide-shm
*.ide-wal
/Source/Lib/Win32Debug/EditorDLL.exp
/Source/Lib/Win32Debug/EditorDLL.ilk
/Source/Lib/Win32Debug/Engine.lib
/Source/Lib/Win32Debug/Engine.pdb
/Source/Lib/Win32Debug/TeapotWarsWin32Debug.exe
/Source/Lib/Win32Debug/TeapotWarsWin32Debug.ilk